0301_Tasmota/timeSeries_with_Reset.json
[{"id":"9e1d5d07.cc316","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83c14cb2.d68ad","type":"mqtt in","z":"9e1d5d07.cc316","name":"tele/tasmota_3053A0/SENSOR","topic":"tele/tasmota_3053A0/SENSOR","qos":"2","datatype":"json","broker":"cc83a8a5.9e9998","x":270,"y":200,"wires":[["9d74b6e4.d3c158"]]},{"id":"6c8d16e4.7abca8","type":"ui_chart","z":"9e1d5d07.cc316","name":"","group":"4453f7dc.37e168","order":0,"width":0,"height":0,"label":"Time Series","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":750,"y":420,"wires":[[]]},{"id":"9d74b6e4.d3c158","type":"function","z":"9e1d5d07.cc316","name":"Exact Temperature","func":"let temperature = msg.payload.DS18B20.Temperature;\nif (msg.payload.Switch1 == \"OFF\"){\n    return;\n}\nreturn { payload: temperature };","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["6c8d16e4.7abca8"]]},{"id":"f687cda5.d52a4","type":"function","z":"9e1d5d07.cc316","name":"reset chart","func":"msg.payload=[];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["6c8d16e4.7abca8"]]},{"id":"ce6bc4ef.8779a8","type":"ui_button","z":"9e1d5d07.cc316","name":"","group":"4453f7dc.37e168","order":0,"width":0,"height":0,"passthru":false,"label":"reset chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":420,"wires":[["f687cda5.d52a4"]]},{"id":"cc83a8a5.9e9998","type":"mqtt-broker","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4453f7dc.37e168","type":"ui_group","z":"","name":"Group 1","tab":"9ebff02d.41166","order":1,"disp":true,"width":"12","collapse":false},{"id":"9ebff02d.41166","type":"ui_tab","name":"EMRP2021","icon":"dashboard","order":1,"disabled":false,"hidden":false}]